In [35]:
import datetime

import pandas as pd
pd.core.common.is_list_like = pd.api.types.is_list_like

import pandas_datareader as web

import matplotlib.pyplot as plt
from matplotlib import style

import numpy as np

In [7]:
style.use('ggplot')

In [8]:
style.available

['bmh',
 'classic',
 'dark_background',
 'fast',
 'fivethirtyeight',
 'ggplot',
 'grayscale',
 'seaborn-bright',
 'seaborn-colorblind',
 'seaborn-dark-palette',
 'seaborn-dark',
 'seaborn-darkgrid',
 'seaborn-deep',
 'seaborn-muted',
 'seaborn-notebook',
 'seaborn-paper',
 'seaborn-pastel',
 'seaborn-poster',
 'seaborn-talk',
 'seaborn-ticks',
 'seaborn-white',
 'seaborn-whitegrid',
 'seaborn',
 'Solarize_Light2',
 'tableau-colorblind10',
 '_classic_test']

In [10]:
start  = datetime.datetime(2010, 1, 1)   #year, month, day
end = datetime.datetime(2015, 1, 1)

df = web.DataReader("XOM" ,data_source= "yahoo", start= start, end= end)

ImmediateDeprecationError:
Yahoo Daily has been immediately deprecated due to large breaks in the API without the
introduction of a stable replacement. Pull Requests to re-enable these data
connectors are welcome.

See https://github.com/pydata/pandas-datareader/issues

In [11]:
print(df.head())

df['Adj Close'].plot()

plt.show()

NameError: name 'df' is not defined

In [26]:
#Data frames are type of python dictonary

#creating a dummy data of a website
web_stats = {'Day': [1, 2, 3, 4, 5, 6],
              'Visitors': [43, 53, 34, 45, 664, 34],
              'Bounce_Rate': [65, 72, 62, 64, 54, 65]}

#converting dictonary into data-frame

df = pd.DataFrame(data= web_stats)
  
print(df.head(n = 10))   #first 10 columns
print(df.tail())         #last 5 columns

   Day  Visitors  Bounce_Rate
0    1        43           65
1    2        53           72
2    3        34           62
3    4        45           64
4    5       664           54
5    6        34           65
   Day  Visitors  Bounce_Rate
1    2        53           72
2    3        34           62
3    4        45           64
4    5       664           54
5    6        34           65

In [25]:
#At present pandas is adding a index column of its own but we want index = Day column

print(df.set_index('Day'))

print(df.head())

#set_index has created a new data frame and applied the changes on it and kept the 
#original data frame unchanged; so when we print the head it returned the old data frame

#df = df.se_index('Day')  #now it will make changes on original data frame itself

#make inplace = True to make changes on data itself only
print(df.set_index('Day',inplace= True))  #modifies data inplace istelf don't create a new object

     Visitors  Bounce_Rate
Day
1          43           65
2          53           72
3          34           62
4          45           64
5         664           54
6          34           65
   Day  Visitors  Bounce_Rate
0    1        43           65
1    2        53           72
2    3        34           62
3    4        45           64
4    5       664           54
None

In [27]:
#now the changes made by inplace= True are permanent 
#to print a specific column
print(df['Visitors'])
print(df.Visitors)

0     43
1     53
2     34
3     45
4    664
5     34
Name: Visitors, dtype: int64
0     43
1     53
2     34
3     45
4    664
5     34
Name: Visitors, dtype: int64

In [29]:
#refrencing multiple columns
print(df[['Visitors','Bounce_Rate']])

   Visitors  Bounce_Rate
0        43           65
1        53           72
2        34           62
3        45           64
4       664           54
5        34           65

In [34]:
#Creating a list of a particular column
Visitors_List = df.Visitors.tolist()   #() are must to apply this method on dataframe

print(type(Visitors_List))

<class 'list'>

In [37]:
#To convert multiple columns into numpy arrays
df_array = np.array(df[['Visitors', 'Bounce_Rate']])

print(df_array)

#Converting numpy arrays into pandas dataframe
df2 = pd.DataFrame(df_array)
print(df2)

[[ 43  65]
 [ 53  72]
 [ 34  62]
 [ 45  64]
 [664  54]
 [ 34  65]]
     0   1
0   43  65
1   53  72
2   34  62
3   45  64
4  664  54
5   34  65

In [64]:
#importing csv file from same file 
df_csv = pd.read_csv('50_startups.csv')

print(df_csv.head())

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [65]:
new_market = df_csv.iloc[:, 2:3] / 1000
print(new_market)

    Marketing Spend
0         471.78410
1         443.89853
2         407.93454
3         383.19962
4         366.16842
5         362.86136
6         127.71682
7         323.87668
8         311.61329
9         304.98162
10        229.16095
11        249.74455
12        249.83944
13        252.66493
14        256.51292
15        261.77623
16        264.34606
17        282.57431
18        294.91957
19          0.00000
20        298.66447
21        299.73729
22        303.31926
23        304.76873
24        140.57481
25        137.96262
26        134.05007
27        353.18381
28        118.14820
29        107.13838
30         91.13124
31         88.21823
32         46.08525
33        214.63481
34        210.79767
35        205.51764
36        201.12682
37        197.02942
38        185.26510
39        174.99930
40        172.79567
41        164.47071
42        148.00111
43         35.53417
44         28.33472
45          1.90393
46        297.11446
47          0.00000
48          0.00000
49         45.17306

In [77]:
df_csv['Marketing Spend'] = new_market

In [78]:
df_csv

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471.78410    New York  192261.83
1   162597.70       151377.59        443.89853  California  191792.06
2   153441.51       101145.55        407.93454     Florida  191050.39
3   144372.41       118671.85        383.19962    New York  182901.99
4   142107.34        91391.77        366.16842     Florida  166187.94
5   131876.90        99814.71        362.86136    New York  156991.12
6   134615.46       147198.87        127.71682  California  156122.51
7   130298.13       145530.06        323.87668     Florida  155752.60
8   120542.52       148718.95        311.61329    New York  152211.77
9   123334.88       108679.17        304.98162  California  149759.96
10  101913.08       110594.11        229.16095     Florida  146121.95
11  100671.96        91790.61        249.74455  California  144259.40
12   93863.75       127320.38        249.83944     Florida  141585.52
13   91992.39       135495.07        252.66493  California  134307.35
14  119943.24       156547.42        256.51292     Florida  132602.65
15  114523.61       122616.84        261.77623    New York  129917.04
16   78013.11       121597.55        264.34606  California  126992.93
17   94657.16       145077.58        282.57431    New York  125370.37
18   91749.16       114175.79        294.91957     Florida  124266.90
19   86419.70       153514.11          0.00000    New York  122776.86
20   76253.86       113867.30        298.66447  California  118474.03
21   78389.47       153773.43        299.73729    New York  111313.02
22   73994.56       122782.75        303.31926     Florida  110352.25
23   67532.53       105751.03        304.76873     Florida  108733.99
24   77044.01        99281.34        140.57481    New York  108552.04
25   64664.71       139553.16        137.96262  California  107404.34
26   75328.87       144135.98        134.05007     Florida  105733.54
27   72107.60       127864.55        353.18381    New York  105008.31
28   66051.52       182645.56        118.14820     Florida  103282.38
29   65605.48       153032.06        107.13838    New York  101004.64
30   61994.48       115641.28         91.13124     Florida   99937.59
31   61136.38       152701.92         88.21823    New York   97483.56
32   63408.86       129219.61         46.08525  California   97427.84
33   55493.95       103057.49        214.63481     Florida   96778.92
34   46426.07       157693.92        210.79767  California   96712.80
35   46014.02        85047.44        205.51764    New York   96479.51
36   28663.76       127056.21        201.12682     Florida   90708.19
37   44069.95        51283.14        197.02942  California   89949.14
38   20229.59        65947.93        185.26510    New York   81229.06
39   38558.51        82982.09        174.99930  California   81005.76
40   28754.33       118546.05        172.79567  California   78239.91
41   27892.92        84710.77        164.47071     Florida   77798.83
42   23640.93        96189.63        148.00111  California   71498.49
43   15505.73       127382.30         35.53417    New York   69758.98
44   22177.74       154806.14         28.33472  California   65200.33
45    1000.23       124153.04          1.90393    New York   64926.08
46    1315.46       115816.21        297.11446     Florida   49490.75
47       0.00       135426.92          0.00000  California   42559.73
48     542.05        51743.15          0.00000    New York   35673.41
49       0.00       116983.80         45.17306  California   14681.40